.header{
    display:flex;
    justify-content: space-around;
    a{
        all:unset;
        font-size: 1.3em;
        color:rgb(0, 92, 179);
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

}