.header{
    display:flex;
    justify-content: space-around;
    a{
        all:unset;
        color:red;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }

}