.upcomingMovies{
    display: flex;
    flex-wrap: wrap;
    color:white;
    .movie{
        margin:2em;
        display: flex;
        border-radius: 1em;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(0, 48, 66);
        padding: 2em;
        max-width: 15em;
        h2{
            word-wrap: break-word;
        }
        img{
            width: 250px;
        }
    }
}